
.body{
    color:white;
    background-color: rgb(28, 29, 59);
    min-height: 708px;
    padding: 20px;
    margin: 2px;
}
.center{
    text-align: center;
}
.app-header{
    padding: 20px;
}
.header{
    margin-bottom: -15px;
    font-size: 30px;
}
.language-select{
    margin-left: 330px;
    background-color: rgb(28, 29, 59);
    color:white;
    width: 310px;
    text-align: center;
    border-radius: 5px;

}
.text-area{
    background-color: rgb(28, 29, 59);
    color:white;
    height: 200px;
    width: 310px;
    margin-bottom: 30px;
    border-radius: 7px;
    padding: 10px;
}
.t-left{
    margin-right: 20px;
}
.text-container{
    width: 100%;
}
.my-button{
    height: 40px;
    width: 100px;
    background-color: rgb(42, 116, 243);
    color: white;
    border-radius: 15px;
    border: none;
}
.my-button:hover{
    cursor: pointer;
}
.horizontal-line{
    width: 500px;
    margin-bottom: 30px;
}
.Footer{
    margin-top: 80px;
}
.address{
    margin-top: 9px;
    margin-bottom: 1px;
}
